[submodule "core"]
	path = core
	url = https://github.com/ConnectSDK/Connect-SDK-iOS-Core.git
	branch = dev
[submodule "modules/firetv"]
	path = modules/firetv
	url = https://github.com/ConnectSDK/Connect-SDK-iOS-FireTV.git
